<p>Episode Number: <%= @episode.number %></p>
<p>Air Date: <%= @episode.date %></p>

<p>Episode Guests</p>
<ul>
<%= @episode.guests.each do |guest| %>
  <li><%= link_to guest.name, guest_path(guest) %></li>
  <% end %>
</ul>
